<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Why i want new phone</string>
		<string>Facts</string>
	</array>
	<array>
		<string>yesterday my instagram crashed</string>
		<string>X people die in Y country every year because of smartphone e-waste</string>
	</array>
	<array>
		<string>My phone&apos;s battery life sucks</string>
		<string>There are more phones than people currently in the world</string>
	</array>
	<array>
		<string>I wanna be able to take portrait mode photos</string>
		<string>The smartphones company counts on us buying a new phone every 2 yrs</string>
	</array>
	<array>
		<string>my phone screen is broken </string>
		<string>Production cost of the newest IPhone is around $406 while the retail price is $999</string>
	</array>
	<array>
		<string>I wanna use the new iphone&apos;s accessories </string>
		<string>For every IPhone made Apple has a profit margin of around 59.36%</string>
	</array>
	<array>
		<string>I want a phone with a bigger screen </string>
		<string> Cell phone manufacturing takes up immense energy from resources that are harmful for the environment</string>
	</array>
	<array>
		<string>I&apos;m running out of storage space</string>
		<string>Currently there’s no 100% green way to buy a new phone but we can change our behaviour and stick to the greenest smartphone: the one you currently own.</string>
	</array>
	<array>
		<string>wanna have upgarded phone(old outdated)</string>
		<string>Cell phones and other electronic items contain high amounts of precious metals like gold or silver</string>
	</array>
	<array>
		<string>My phone lags a lot</string>
		<string>Smartphones with larger screens have a measurably worse carbon footprint than their smaller ancestors</string>
	</array>
	<array>
		<string>There&apos;s a deal on the newer iphone </string>
		<string>1.5 billion smartphones are sold each year</string>
	</array>
	<array>
		<string>buy new phone to compete with others</string>
		<string>China is number 1st when it comes to number of mobile phones in use</string>
	</array>
	<array>
		<string>i want to buy because i love technology and want to collect phones</string>
		<string>India is 2nd when it comes to number of mobile phones in use</string>
	</array>
	<array>
		<string>Birthday coming up i deserve a new phone</string>
		<string>The United States is 4th when it comes to number of mobile phones in use</string>
	</array>
	<array>
		<string>My phone screen frezzes up</string>
		<string>keeping a smartphone for even three years instead of two can make a considerable impact to your own carbon footprint</string>
	</array>
	<array>
		<string>I realized my friend&apos;s phone is better than mine</string>
		<string>Phones create immense pollution because in every Google search every Facebook refresh and every dumb Tweet we post requires a computer somewhere to calculate it all in the cloud.</string>
	</array>
	<array>
		<string>The cost of repair against buying a new phone is very similar</string>
		<string>E-waste workers are exposed to nickel cadmium and mercury among other toxic fumes</string>
	</array>
	<array>
		<string>Buying new phone because I am giving mine to my siblings</string>
		<string>E-waste landfills can lead to life-threatening health problems including cancers and birth defects</string>
	</array>
	<array>
		<string>My apps lag too often</string>
		<string>E-waste landfill pollution can leak into the surrounding air ground and drinking water</string>
	</array>
	<array>
		<string>My phone turns off in the cold</string>
		<string>10665091 tonnes of e-waste thrown out worldwide in 2021 so far </string>
	</array>
	<array>
		<string>My phone overheats </string>
		<string>Only 12.5% of e-waste is recycled</string>
	</array>
	<array>
		<string>phone got stolen </string>
		<string>E-waste comprises of 70% of overall toxic waste</string>
	</array>
	<array>
		<string>For better performance </string>
		<string>80 percent of US and other developed countries e-waste is tranported to Asia</string>
	</array>
	<array>
		<string>Good deals on network provider</string>
		<string>Over 1 billion cellphones are produced every year. This is supposed to increase by 8% anually</string>
	</array>
	<array>
		<string>na</string>
		<string>e-waste volumes grew by 21% between 2014 and 2019</string>
	</array>
	<array>
		<string>na</string>
		<string>Guiyu China is a major dumping ground for e-waste from the United States</string>
	</array>
</array>
</plist>
